body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
}

.circle-item {
  border-radius: 50%;
  border: 5px solid #26a69a;
  width: 50px;
  height: 50px;
  background-color: #d4e157;
  position: absolute;  
}

.field {
  margin: 30px auto;
  width: 600px;
}

.half-field {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 600px;
  border: 1px solid darkgray;
}

.faded-colors {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.8;
}

.game-over {
  position: fixed;
  width: 50%;
  top: 0;
  left: 25%;
}

.game-over-panel {
  position: relative;
  top: 200px;
}

.new-top-score-form {
  position: relative;
  top: 150px;
}

.menu-items-block {
  position: relative;
  top: 200px;
  width: 50%;
  margin: auto;
}

.menu-item {
  width: 100%;
}

.game-menu {
  width: 50%;
  margin: auto;
}